#### Import statements

In [1]:
## import packages
import pandas as pd
import numpy as np 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder, OneHotEncoder
import pickle

In [2]:
## load the dataset
data=pd.read_csv('Churn_Modelling.csv') 
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
# check data description
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [4]:
# check for missing data
data.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

#### Feature Engineering

In [5]:
## Drop the irrelevant columns
data=data.drop(columns=['RowNumber','CustomerId','Surname'], axis=1)
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [6]:
## Encoding the categorical features
# initialize the encoder
label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])

In [7]:
# check the values in gender column
print(data['Gender'].unique())
data.head()

[0 1]

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [8]:
# One Hot Encode Geography column

# initialize the encoder
onehot_encoder_geo = OneHotEncoder()

In [9]:
# fit transform the data 
encoded_geo = onehot_encoder_geo.fit_transform(data[['Geography']])
encoded_geo=encoded_geo.toarray()  #convert sparse of 1's,0's matrix to array

In [10]:
# get column labels out
onehot_encoder_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [11]:
#convert to dataframe
geo_encoded_df= pd.DataFrame(encoded_geo, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [12]:
# concatenate the original dataframe with geo_encoded_df
data= pd.concat([data,geo_encoded_df],axis=1)
#drop Geography column
data=data.drop(['Geography'],axis=1)

In [13]:
# final dataframe
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

#### Split the data

In [14]:
# separate the target
y=data['EstimatedSalary']

# separate independent features
X= data.drop(['EstimatedSalary'], axis=1)

In [15]:
X

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,0,1.0,0.0,0.0

In [16]:
y

0       101348.88
1       112542.58
2       113931.57
3        93826.63
4        79084.10
          ...
9995     96270.64
9996    101699.77
9997     42085.58
9998     92888.52
9999     38190.78
Name: EstimatedSalary, Length: 10000, dtype: float64

In [17]:
## Save the encoders
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo,file)

In [18]:
# Split into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [19]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((8000, 12), (2000, 12), (8000,), (2000,))

In [20]:
# initialize the scaler
scaler=StandardScaler()

In [21]:
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [22]:
# pickle the scaler
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

### Modelling -  ANN Regression Implementation

In [28]:
## Deep learning packages
import tensorflow 
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [29]:
(X_train.shape[1],)

(12,)

In [30]:
## Build ANN model

#initialize sequential
model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)),  #First Hidden Layer with input
    Dense(32,activation='relu'), #Second Hidden Layer
    Dense(1) #output layer
])

#compile the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

model.summary()

c:\code\Projects\Deep Learning ANN Classification\venv\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential_2"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_6 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_7 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_8 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [31]:
#lets train the model

## Setup the TensorBoard
log_dir= "regressionlogs/fit/"+datetime.datetime.now().strftime('%m_%d_%Y_%H_%M_%S')  
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [32]:
## set up Early Stopping 
# keeping an eye on val_loss and patience of 10 epoch before coming to a decision
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [33]:
## fit the model 
history=model.fit(
    X_train,y_train,
    validation_data=(X_test,y_test),
    epochs=100,
    callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100551.8438 - mae: 100551.8438 - val_loss: 98534.5391 - val_mae: 98534.5391
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 99829.5156 - mae: 99829.5156 - val_loss: 97084.7656 - val_mae: 97084.7656
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 96907.2109 - mae: 96907.2109 - val_loss: 93341.7891 - val_mae: 93341.7891
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 93541.9688 - mae: 93541.9688 - val_loss: 87037.3125 - val_mae: 87037.3125
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 86870.9766 - mae: 86870.9766 - val_loss: 78852.5703 - val_mae: 78852.5703
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 77748.6719 - mae: 77748.6719 - val_loss: 70098.3984 - val_mae: 70098.3984
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 68775.7734 - mae: 68775.7734 - val_loss: 62250.9102 - val_mae: 62250.9102
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 61143.2344 - mae: 61143.2344 - val_loss: 56453.0312 - val_mae: 56453.0312
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 55758.4766 - mae: 55758.4766 - val_loss: 53009.7070 - val_mae: 53009.7070
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 52861.9648 - mae: 52861.9648 - val_loss: 51496.3398 - val_mae: 51496.3398
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50947.7461 - mae: 50947.7461 - val_loss: 50959.1523 - val_mae: 50959.1523
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50119.8281 - mae: 50119.8281 - val_loss: 50782.9727 - val_mae: 50782.9727
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50337.1445 - mae: 50337.1445 - val_loss: 50724.0859 - val_mae: 50724.0859
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50509.6953 - mae: 50509.6953 - val_loss: 50675.5156 - val_mae: 50675.5156
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49726.2188 - mae: 49726.2188 - val_loss: 50635.6328 - val_mae: 50635.6328
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49901.0781 - mae: 49901.0781 - val_loss: 50598.4219 - val_mae: 50598.4219
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50542.3047 - mae: 50542.3047 - val_loss: 50563.9609 - val_mae: 50563.9609
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49586.2148 - mae: 49586.2148 - val_loss: 50534.4297 - val_mae: 50534.4297
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50355.9141 - mae: 50355.9141 - val_loss: 50505.3555 - val_mae: 50505.3555
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50590.3789 - mae: 50590.3789 - val_loss: 50482.0938 - val_mae: 50482.0938
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49834.2070 - mae: 49834.2070 - val_loss: 50454.3750 - val_mae: 50454.3750
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49513.8984 - mae: 49513.8984 - val_loss: 50432.8203 - val_mae: 50432.8203
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49468.5156 - mae: 49468.5156 - val_loss: 50426.4648 - val_mae: 50426.4648
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49607.6367 - mae: 49607.6367 - val_loss: 50412.1367 - val_mae: 50412.1367
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49879.3828 - mae: 49879.3828 - val_loss: 50394.8711 - val_mae: 50394.8711
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49906.2305 - mae: 49906.2305 - val_loss: 50378.9766 - val_mae: 50378.9766
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49951.4766 - mae: 49951.4766 - val_loss: 50366.1367 - val_mae: 50366.1367
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49761.3281 - mae: 49761.3281 - val_loss: 50365.0391 - val_mae: 50365.0391
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49759.9883 - mae: 49759.9883 - val_loss: 50341.1094 - val_mae: 50341.1094
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49352.3984 - mae: 49352.3984 - val_loss: 50337.9922 - val_mae: 50337.9922
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49238.0391 - mae: 49238.0391 - val_loss: 50328.6641 - val_mae: 50328.6641
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49827.9727 - mae: 49827.9727 - val_loss: 50319.7773 - val_mae: 50319.7773
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50439.5469 - mae: 50439.5469 - val_loss: 50319.2656 - val_mae: 50319.2656
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49549.1250 - mae: 49549.1250 - val_loss: 50317.5234 - val_mae: 50317.5234
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50049.4141 - mae: 50049.4141 - val_loss: 50312.4414 - val_mae: 50312.4414
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49447.4062 - mae: 49447.4062 - val_loss: 50307.1133 - val_mae: 50307.1133
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49882.5586 - mae: 49882.5586 - val_loss: 50301.0430 - val_mae: 50301.0430
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49107.6133 - mae: 49107.6133 - val_loss: 50300.2148 - val_mae: 50300.2148
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49205.5117 - mae: 49205.5117 - val_loss: 50291.4141 - val_mae: 50291.4141
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49694.5234 - mae: 49694.5234 - val_loss: 50291.2031 - val_mae: 50291.2031
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49358.4805 - mae: 49358.4805 - val_loss: 50288.9883 - val_mae: 50288.9883
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49971.8984 - mae: 49971.8984 - val_loss: 50290.1406 - val_mae: 50290.1406
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49919.8477 - mae: 49919.8477 - val_loss: 50289.4766 - val_mae: 50289.4766
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 48966.2227 - mae: 48966.2227 - val_loss: 50274.5391 - val_mae: 50274.5391
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49364.6055 - mae: 49364.6055 - val_loss: 50274.1523 - val_mae: 50274.1523
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49388.8633 - mae: 49388.8633 - val_loss: 50272.7266 - val_mae: 50272.7266
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49541.0664 - mae: 49541.0664 - val_loss: 50270.5352 - val_mae: 50270.5352
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49285.2422 - mae: 49285.2422 - val_loss: 50279.7344 - val_mae: 50279.7344
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49464.5547 - mae: 49464.5547 - val_loss: 50271.6211 - val_mae: 50271.6211
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 48854.7305 - mae: 48854.7305 - val_loss: 50277.4023 - val_mae: 50277.4023
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49477.8906 - mae: 49477.8906 - val_loss: 50279.5625 - val_mae: 50279.5625
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49501.4141 - mae: 49501.4141 - val_loss: 50276.2461 - val_mae: 50276.2461
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 48884.2969 - mae: 48884.2969 - val_loss: 50264.1523 - val_mae: 50264.1523
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49732.7734 - mae: 49732.7734 - val_loss: 50257.6992 - val_mae: 50257.6992
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49334.8477 - mae: 49334.8477 - val_loss: 50263.8906 - val_mae: 50263.8906
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50055.6680 - mae: 50055.6680 - val_loss: 50271.2305 - val_mae: 50271.2305
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49610.4141 - mae: 49610.4141 - val_loss: 50269.3164 - val_mae: 50269.3164
Epoch 58/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49690.2930 - mae: 49690.2930 - val_loss: 50266.0078 - val_mae: 50266.0078
Epoch 59/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49452.4531 - mae: 49452.4531 - val_loss: 50276.5977 - val_mae: 50276.5977
Epoch 60/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49366.3398 - mae: 49366.3398 - val_loss: 50277.1836 - val_mae: 50277.1836
Epoch 61/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50018.8008 - mae: 50018.8008 - val_loss: 50268.3047 - val_mae: 50268.3047
Epoch 62/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 48852.1836 - mae: 48852.1836 - val_loss: 50267.3125 - val_mae: 50267.3125
Epoch 63/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49414.6992 - mae: 49414.6992 - val_loss: 50263.2539 - val_mae: 50263.2539
Epoch 64/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49581.4492 - mae: 49581.4492 - val_loss: 50274.4609 - val_mae: 50274.4609

In [34]:
%load_ext tensorboard

In [36]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 24320), started 0:01:22 ago. (Use '!kill 24320' to kill it.)

In [37]:
#Evaluate the model for test data 
test_loss,test_mae=model.evaluate(X_test,y_test)
print(f'Test MAE: {test_mae}')

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 51150.8516 - mae: 51150.8516
Test MAE: 50257.69921875

In [38]:
model.save('regression_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.